PORT=4000
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=victor_app
DB_PASSWORD=secret
DB_NAME=victor

JWT_SECRET=change-me-super-secret
JWT_EXPIRES_IN=1h
REFRESH_TOKEN_SECRET=change-me-refresh-secret
REFRESH_TOKEN_EXPIRES_IN=7d

